/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.navbar-nav > li > text, .navbar-nav > li > div {
    padding-bottom: 10px;
    padding-top: 10px;
	margin-bottom: 0px;
}
.navbar-nav > li > text, .navbar-nav > li > div {
    line-height: 20px;
}
.nav > li > text, .navbar-nav > li > div {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.nav > li > text {
    padding-right: 0px;
}
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0px;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  color: #000;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#div_ranking {

  width: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  color: #000;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 20px;
  display: none;
  
}

#div_ranking p{
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 20px;
}


.badge {

    font-size: 20px;
}
