.background {
  fill: none;
  pointer-events: all;
}

#states {
  stroke: #000;
  stroke-width: 0.5px;
  cursor: pointer;
}

#states text {
  fill: #fff;
  stroke: none;
  text-anchor:middle;
  font-size: 16px;
  cursor: pointer;
  pointer-events: none;
}


#states .active {
  fill: #fd6603 !important;
}

#states text.active {
  font-size: 25px;
  font-weight:bold;
  fill: #fff;
  stroke-width: 0.5px;
  fill: #fff !important;
  stroke: #000;
  cursor: default;
  pointer-events: none;

}
